/example/.build/default.init.aardio
/example/.build/default.main.aardio
/example/.build/default.Manifest.xml
/example/.build/update-maker.table
/example/.build/update-maker.aardio
/example/.update-files/
/example/dist/
/example/.build/mp.lock
